{% extends "base.html" %}

{% block head_title %}Ático{% endblock %}

{% block slideshow %}
<div class="slideshow">
    <img class="slides" src="/static/images/slides/atico/slide01.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/atico/slide02.png" style="width:950; height:671;" />
</div><!-- .slideshow -->
{% endblock %}

{% block inpop %}
<div class="inpop">
    <a id="cerrar" href="#" title="Close popup">x</a>
    <h3>CHAFLÁN ÁTICO</h3>
    Ideado para pequeños grupos de hasta 50 personas, que buscan un espacio íntimo donde disfrutar de cumpleaños, cocktails de empresas, bodas y reuniones de amigos. Incluyen una habitación Magnum de cortesía.
Celebraciones en un espacio reservado con vistas únicas, las 4 Torres coronando Madrid, es posible en "LA POSADA DE EL CHAFLÁN". Vívelo con nosotros.
Consultar precios.
</div>
{% endblock %}
