{% extends "base-en.html" %}

{% block head_title %}Attic{% endblock %}

{% block slideshow %}
<div class="slideshow">
    <img class="slides" src="/static/images/slides/atico/slide01.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/atico/slide02.png" style="width:950; height:671;" />
</div><!-- .slideshow -->
{% endblock %}

{% block inpop %}
<div class="inpop">
    <a id="cerrar" href="#" title="Close popup">x</a>
    <h3>CHAFLÁN ATTIC</h3>
    Designed for small groups up to 50 people, who seek an intimate space to enjoy Birthdays, Business Cocktails, Weddings and gathering of friends. Magnum room is included as a complimentary room.
Enjoy a space for celebrations with a unique view of the 4 towers crowning Madrid, is possible in "LA POSADA DE EL CHAFLÁN". Experience it with us.
Ask for prices.
</div>
{% endblock %}
