<!DOCTYPE html>
<html><head>
        <title>La Posada de El Chaflán | {% block head_title %}{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="description" content="La Posada de el Chaflán, hotel, restaurante">
        <meta name="keywords" content="hotel, restaurante, posada, juan pablo felipe">
        <meta name="viewport" content="width=1024">
        <link rel="apple-touch-icon" href="/static/images/favicon.png"/>
        <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/static/css/style-en.css" type="text/css" media="screen">
        {% block head %}{% endblock %}
        <!--<script src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js"></script>-->

    </head>

    <body>
        <div id="content">
            
            <div class="navigation" id="nav">
                <div class="item logo">
                    <a class="icon logo"></a>
                </div>
                <div class="item inicio">
                    <a href="/en/home/" class="icon inicio"></a>
                </div>
                <div class="item posada">
                    <img style="width: 52px; display: block; height: 52px; opacity: 0.1; top: 0px; left: 0px; overflow: hidden;" src="/static/images/bg_user2.png" alt="" class="circle" height="199" width="199">
                    <a href="#" class="icon posada"></a>
                    <ul style="display: none;">
                        <li><a href="/en/booking/">Booking</a></li>
                        <li><a href="/en/rooms/">Rooms</a></li>
                        <li><a class="bolsa" href="/en/experiences/">Experi-moments</a></li>
                        <li><a href="/en/services/">Services</a></li>
                        <li><a href="/en/attic/">Attic</a></li>
                    </ul>
                </div>
                <div class="item chaflan">
                    <img style="width: 52px; display: block; height: 52px; opacity: 0.1; top: 0px; left: 0px;" src="/static/images/bg_user2.png" alt="" class="circle" height="199" width="199">
                    <a href="#" class="icon chaflan"></a>
                    <ul style="display: none;">
                        <li><a href="/en/restaurant/">Restaurant</a></li>
                        <li><a href="/en/cocktail/">Cocktail Bar</a></li>
                        <li><a href="/en/lounge/">Lounge</a></li>
                        <li><a href="/en/menu/">Menu</a></li>
                    </ul>
                </div>
                <div class="item jpf">
                    <img src="/static/images/bg_user2.png" alt="" class="circle" height="199" width="199">
                    <a href="#" class="icon jpf"></a>
                    <ul>
                        <li><a href="/en/biography/">Biography</a></li>
                        <li><a href="/en/consulting/">Consulting</a></li>
                        <li><a href="/en/experience/">Experience</a></li>
                        <li><a href="/en/catering/">Catering</a></li>
                    </ul>
                </div>
                <div class="item contacto">
                    <img src="/static/images/bg_user2.png" alt="" class="circle" height="199" width="199">
                    <a href="#" class="icon contacto"></a>
                    <ul>
                        <li><a href="/en/contact/" rel="#sheet">Contact</a></li>
                        <li><a href="/en/jobs/">Jobs</a></li>
                    </ul>
                </div>
                <div class="item noticias">
                    <a href="/noticias/" class="icon noticias"></a>
                </div>
                <div class="bandera-es">
                    <a href="/" class="icon bandera-es"></a>
                </div>
            </div>
            
            {% block slideshow %}{% endblock %}
            {% block inpop %}{% endblock %}
            {% block inpop2 %}{% endblock %}
            {% block inpop3 %}{% endblock %}
            {% block inpop4 %}{% endblock %}
            {% block inpop5 %}{% endblock %}
            {% block lacarta %} {% endblock %}
            {% block reservas %} {% endblock %}
        
        </div>
        
        <!-- The JavaScript -->
        <!--<script type="text/javascript" src="/static/js/jquery-1.js"></script>-->
        <script type="text/javascript" src="/static/js/jquery-1.10.1.min.js"></script>
        <script type="text/javascript" src="/static/js/jquery.tools.min.js"></script>
        <script type="text/javascript" src="/static/js/jquery.js"></script>
        <script type="text/javascript" src="/static/js/jquery.cycle.all.latest.js"></script>
        {% block js_lacarta %}{% endblock %}
        {% block js_reservas %}{% endblock %}
        <!--<script type="text/javascript" src="http://cloud.github.com/downloads/malsup/cycle/jquery.cycle.all.latest.js"></script>-->
        <script type="text/javascript">
            $(function() {
                $('#nav > div').hover(
                function () {
                    var $this = $(this);
                    $this.find('img').stop().animate({
                        'width'     :'325px',
                        'height'    :'200px',
                        'top'       :'-25px',
                        'left'      :'5px',
                        'opacity'   :'0.7'
                    },500,'easeOutBack',function(){
                        $(this).parent().find('ul').fadeIn(700);
                    });

                    $this.find('a:first,h2').addClass('active');
                },
                function () {
                    var $this = $(this);
                    $this.find('ul').fadeOut(500);
                    $this.find('img').stop().animate({
                        'width'     :'52px',
                        'height'    :'52px',
                        'top'       :'0px',
                        'left'      :'0px',
                        'opacity'   :'0.1'
                    },5000,'easeOutBack');

                    $this.find('a:first,h2').removeClass('active');
                }
            );
            });
        </script>
        <script type="text/javascript">
            $(document).ready(function() {
                $('.slideshow').cycle({
                    fx: 'zoom' // elije el tipo de transición, ej: fade, scrollUp, shuffle, etc...
                });
            });
        </script>
        <script type="text/javascript">
            var inpop = $(".inpop"),
            inpoplink = $(".ex").find('.liv').find('a'),
            inpopclose = $(".inpop a:first-child"),
            win = $(window);
            inpoplink.click(function(e) {
                if ((navigator.userAgent.indexOf('iPad') != -1)) {
                    inpop
                    .toggle()
                    .css({
                        "margin-top": $(window).height()/2 - $("header.gen").height() - $(".inpop").height() + "px",
                        "position": "absolute",
                        "top": $(window).scrollTop() + "px"
                    });
                } else inpop.toggle();
            e.preventDefault();
            });

            inpopclose.click(function(e) {
                $(this).parent().hide();
                e.preventDefault();
            });
        </script>
        {% block js %}{% endblock %}
</body>
</html>