{% extends "base-en.html" %}

{% block head_title %}Juan Pablo Felipe - Biography{% endblock %}

{% block slideshow %}
<div class="slideshow">
    <img class="slides" src="/static/images/slides/jpf/juanpablo01.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/jpf/juanpablo02.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/jpf/juanpablo04.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/jpf/juanpablo05.png" style="width:950; height:671;" />
</div><!-- .slideshow -->
{% endblock %}

{% block inpop %}
<div class="inpop">
    <a id="cerrar" href="#" title="Close popup">x</a>
    <h3>BIOGRAPHY</h3>
    <p>Juan Pablo Felipe was born in Madrid, but has spent a lot of his  youth in Andalusia. First in Malaga, then Almeria and Cadiz which later on got to be a great source of inspiration for his culinary. From the traditional Andalusian culinary comes the pillars of his culinary philosophy. He has studied Business Culinary Management for Tourism at the Escuela Superior de Hosteleria y Turismo de Madrid. He has been in the business for  30 years becoming a renowned chef in Spain. In 2001, he was awarded the " Premio Nacional de Gastronomía”, by the  Real Academia Española de Gastronomía.</p>
    <p>He is known for his Andalusian style cuisine innovating and popularizing raw material as the Atun de Almadraba ( a ancient method of fishing  tuna fish entering the Mediterranean Sea) olive oil and garden products.</p>
    <p>Juan Pablo Felipe is also a  lecturer at Universities and gastronomic forums. Ideólogo y promotor del “Máster en Cocina de Autores”, realizado en la Universidad Camilo José Cela de Madrid, le sitúa como uno de los emprendedores más activos en la formación.</p>
    <p>Three words define this renowned Chef:</p>
    <ul><li>Humanism</li>
        <li>Gastronomy</li>
        <li>Functionality</li></ul>
</div>
{% endblock %}
