{% extends "base.html" %}

{% block head_title %}Juan Pablo Felipe - Biografía{% endblock %}

{% block slideshow %}
<div class="slideshow">
    <img class="slides" src="/static/images/slides/jpf/juanpablo01.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/jpf/juanpablo02.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/jpf/juanpablo04.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/jpf/juanpablo05.png" style="width:950; height:671;" />
</div><!-- .slideshow -->
{% endblock %}

{% block inpop %}
<div class="inpop">
    <a id="cerrar" href="#" title="Close popup">x</a>
    <h3>BIOGRAFÍA</h3>
    <p>Juan pablo Felipe nació en Madrid, pero desde joven pasa gran parte de su vida en Andalucía. Primero Málaga y más tarde Almería y Cádiz, van a ser la gran fuente de inspiración de su forma de cocinar. De la cocina popular andaluza construye los pilares de su filosofía culinaria. Realiza los estudios de Cocina y de Dirección de empresas turísticas en la Escuela Superior de Hosteleria y Turismo de Madrid. Lleva ejerciendo 30 años en la Dirección Hotelera y como Jefe de Cocina, convirtiéndose en un reputado Chef en España. En el año 2001 le es concedido el “Premio Nacional de Gastronomía”, por la Real Academia española de Gastronomía.</p>
    <p>Es conocido por su cocina de corte andalucista de propio cuño, innovadora y por la popularización de materias primas como el “atún de almadraba”, el aceite de oliva y productos de la huerta.</p>
    <p>Juan Pablo Felipe es también un vasto conferenciante en foros gastronómicos y universitarios. Ideólogo y promotor del “Máster en Cocina de Autores”, realizado en la Universidad Camilo José Cela de Madrid, le sitúa como uno de los emprendedores más activos en la formación.</p>
    <p>Tres palabras definen a este reputado Chef:</p>
    <ul><li>Humanismo</li>
        <li>Gastronomía</li>
        <li>Funcionalidad</li></ul>
</div>
{% endblock %}
