{% extends "base-en.html" %}

{% block head_title %}Juan Pablo Felipe - Catering{% endblock %}

{% block slideshow %}
<div class="slideshow">
    <img class="slides" src="/static/images/slides/jpf/juanpablo02.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/jpf/juanpablo04.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/jpf/juanpablo01.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/jpf/juanpablo05.png" style="width:950; height:671;" />
</div><!-- .slideshow -->
{% endblock %}

{% block inpop %}
<div class="inpop">
    <a id="cerrar" href="#" title="Close popup">x</a>
    <h3>CATERING</h3>
    <p>For 30 years he has travelled the world performing catering to major corporations and government agencies.</p>
    <p>A brief hightlight,</p>
    <ul><li>Madrid Fusión</li>
        <li>Salón Millesimé</li>
        <li>Ayuntamiento de Madrid</li>
        <li>Comunidad de Madrid</li>
        <li>Fundación española del corazón</li>
        <li>World Gourmet Summit (Singapore)</li>
        <li>Festival de Cine de "El Cairo"</li>
        <li>Zaragoza "Expo 2008"</li>
        <li>Pasarela Cibeles</li>
        <li>Ayuntamiento de Roquetas de Mar</li>
        <li>Universidad Rey Juan Carlos I</li>
        <li>Universidad de Granada</li>
        <li>Fundador "Running Chefs"</li>
        <li>Canal Cocina</li>
        <li>Red Bull</li></ul>
        <p>Also he has been on numerous culinary juries throughout all Spain.</p>
</div>
{% endblock %}
