{% extends "base.html" %}

{% block head_title %}Cocktail-Bar{% endblock %}

{% block slideshow %}
<div class="slideshow">
    <img class="slides" src="/static/images/slides/cocktail/slide1.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/cocktail/slide2.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/cocktail/slide3.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/cocktail/slide4.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/cocktail/slide6.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/cocktail/slide7.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/cocktail/slide9.png" style="width:950; height:671;" />
</div><!-- .slideshow -->
{% endblock %}

{% block inpop %}
<div class="inpop">
    <a id="cerrar" href="#" title="Close popup">x</a>
    <h3>COCKTAIL-BAR</h3>
    <p>Presidido por un espectacular tronco, en alegoría al Land Art, ofrece un informal picoteo para acompañar la cocktelería de nuestro Barman.</p>
    <p>Desde las 7 de la mañana hasta la madrugada, es el lugar ideal para disfrutar en compañía de amigos de momentos "after work".</p>
</div>
{% endblock %}

