{% extends "base-en.html" %}

{% block head_title %}Cocktail-Bar{% endblock %}

{% block slideshow %}
<div class="slideshow">
    <img class="slides" src="/static/images/slides/cocktail/slide1.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/cocktail/slide2.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/cocktail/slide3.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/cocktail/slide4.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/cocktail/slide6.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/cocktail/slide7.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/cocktail/slide9.png" style="width:950; height:671;" />
</div><!-- .slideshow -->
{% endblock %}

{% block inpop %}
<div class="inpop">
    <a id="cerrar" href="#" title="Close popup">x</a>
    <h3>COCKTAIL-BAR</h3>
    <p>Chaired by a spectacular trunk, in allegory to Land Art, invites us to an informal casual snack accompanied by our barman's cocktails.</p>
    <p>From 7 am till night it is an  ideal place to enjoy the moments of the company of friends after work.</p>
</div>
{% endblock %}

