{% extends "base-en.html" %}

{% block head_title %}Juan Pablo Felipe - Consulting{% endblock %}

{% block slideshow %}
<div class="slideshow">
    <img class="slides" src="/static/images/slides/jpf/juanpablo05.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/jpf/juanpablo02.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/jpf/juanpablo04.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/jpf/juanpablo01.png" style="width:950; height:671;" />
</div><!-- .slideshow -->
{% endblock %}

{% block inpop %}
<div class="inpop">
    <a id="cerrar" href="#" title="Close popup">x</a>
    <h3>CONSULTING</h3>
    <p>Juan Pablo Felipe has worked on numerous consulting projects with companies both nationally and internationally.</p>
    <ul><li>International Organizations</li>
        <li>Companies like  Makro</li>
        <li>Hotel "Palacio de Miraflores"</li>
        <li>Restaurants and banquet halls nationwide</li>
        <li>Advocate of Gastrobares</li>
        <li>"Indecco" company, dedicated to raising iberian goose</li></ul>
</div>
{% endblock %}
