{% extends "base.html" %}

{% block head_title %}Juan Pablo Felipe - Consultoría{% endblock %}

{% block slideshow %}
<div class="slideshow">
    <img class="slides" src="/static/images/slides/jpf/juanpablo05.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/jpf/juanpablo02.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/jpf/juanpablo04.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/jpf/juanpablo01.png" style="width:950; height:671;" />
</div><!-- .slideshow -->
{% endblock %}

{% block inpop %}
<div class="inpop">
    <a id="cerrar" href="#" title="Close popup">x</a>
    <h3>CONSULTORÍA</h3>
    <p>Juan Pablo Felipe ha colaborado en numerosos proyectos de asesoría con distintas empresas de ámbito nacional e internacional.</p>
    <ul><li>Organismos internacionales</li>
        <li>Empresas como Makro</li>
        <li>Hotel "Palacio de Miraflores"</li>
        <li>Restaurantes y salones de banquetes de ámbito nacional</li>
        <li>Ideólogo de Gastrobares</li>
        <li>Empresa "Indecco", dedicada a la crianza extensiva del ganso ibérico</li></ul>
</div>
{% endblock %}
