{% extends "base-en.html" %}

{% block head_title %}Juan Pablo Felipe - Experiences{% endblock %}

{% block slideshow %}
<div class="slideshow">
    <img class="slides" src="/static/images/slides/jpf/juanpablo04.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/jpf/juanpablo01.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/jpf/juanpablo05.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/jpf/juanpablo02.png" style="width:950; height:671;" />
</div><!-- .slideshow -->
{% endblock %}

{% block inpop %}
<div class="inpop">
    <a id="cerrar" href="#" title="Close popup">x</a>
    <h3>EXPERIENCES</h3>
    <p>For 30 years his teaching vocation has led him to join the most prestigious Gastronomic Schools and Spanish Universities.</p>
    <p>For nearly 2 decades, he has been a professor of the  ICE at Universidad Politécnica of Madrid in  "Master en Dirección de Empresas Hoteleras".</p>
    <p>Director of the  "Master en cocina de autores" in the Universidad Camilo José Cela of Madrid.</p>
    <p>Juan Pablo Felipe has collaborated in numerous Spanish Hotel and Restaurant Management Schools as a lecturer.</p>
</div>
{% endblock %}
