{% extends "base.html" %}

{% block head_title %}Juan Pablo Felipe - Formación{% endblock %}

{% block slideshow %}
<div class="slideshow">
    <img class="slides" src="/static/images/slides/jpf/juanpablo04.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/jpf/juanpablo01.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/jpf/juanpablo05.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/jpf/juanpablo02.png" style="width:950; height:671;" />
</div><!-- .slideshow -->
{% endblock %}

{% block inpop %}
<div class="inpop">
    <a id="cerrar" href="#" title="Close popup">x</a>
    <h3>FORMACIÓN</h3>
    <p>Desde hace 30 años su vocación docente le ha llevado a formar parte de los claustros más prestigiosos de escuelas de hostelería y universidades españolas.</p>
    <p>Durante casi 2 décadas profesor del ICE de la Universidad Politécnica de Madrid en el "Master en Dirección de Empresas Hoteleras".</p>
    <p>Director del “Master en cocina de autores” en la Universidad Camilo José Cela de Madrid.</p>
    <p>Juan Pablo Felipe, ha colaborado en numerosas escuelas de hostelería españolas como conferenciante.</p>
</div>
{% endblock %}
