{% extends "base-en.html" %}

{% block head_title %}Home{% endblock %}

{% block slideshow %}
<div class="slideshow">
    <img class="slides" src="/static/images/slides/inicio/slide1.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/inicio/slide2.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/inicio/slide3.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/inicio/slide4.png" style="width:950; height:671;" />
</div><!-- .slideshow -->
{% endblock %}
