{% extends "base.html" %}

{% block head_title %}Lounge{% endblock %}

{% block slideshow %}
<div class="slideshow">
    <img class="slides" src="/static/images/slides/lounge/slide1.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/lounge/slide2.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/lounge/slide3.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/lounge/slide4.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/lounge/slide5.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/lounge/slide6.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/lounge/slide7.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/lounge/slide8.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/lounge/slide9.png" style="width:950; height:671;" />
</div><!-- .slideshow -->
{% endblock %}

{% block inpop %}
<div class="inpop">
    <a id="cerrar" href="#" title="Close popup">x</a>
    <h3>LOUNGE</h3>
    <p>Ambiente relajado entre sofás y mesas bajas para disfrutar de una copa sólo o en compañía.</p>
    <p>Coqueta terraza de verano, inspirada en el jardín del propio hogar.</p>
    <p>Música de ambiente actual.</p>
</div>
{% endblock %}
