{% extends "base-en.html" %}

{% block head_title %}Lounge{% endblock %}

{% block slideshow %}
<div class="slideshow">
    <img class="slides" src="/static/images/slides/lounge/slide1.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/lounge/slide2.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/lounge/slide3.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/lounge/slide4.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/lounge/slide5.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/lounge/slide6.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/lounge/slide7.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/lounge/slide8.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/lounge/slide9.png" style="width:950; height:671;" />
</div><!-- .slideshow -->
{% endblock %}

{% block inpop %}
<div class="inpop">
    <a id="cerrar" href="#" title="Close popup">x</a>
    <h3>LOUNGE</h3>
    <p>The relaxed atmosphere between sofas and coffee tables makes a drink enjoyable  alone or in company.</p>
    <p>A cute summer terrace, inspired by a home garden.</p>
    <p>Latest ambiance music.</p>
</div>
{% endblock %}
