{% extends "base.html" %}

{% block head_title %}Restaurante{% endblock %}

{% block slideshow %}
<div class="slideshow">
    <img class="slides" src="/static/images/slides/restaurante/slide1.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/restaurante/slide2.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/restaurante/slide3.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/restaurante/slide4.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/restaurante/slide5.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/restaurante/slide6.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/restaurante/slide7.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/restaurante/slide8.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/restaurante/slide9.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/restaurante/slide10.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/restaurante/slide11.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/restaurante/slide12.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/restaurante/slide13.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/restaurante/slide14.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/restaurante/slide15.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/restaurante/slide16.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/restaurante/slide17.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/restaurante/slide18.png" style="width:950; height:671;" />
</div><!-- .slideshow -->
{% endblock %}

{% block inpop %}
<div class="inpop">
    <a id="cerrar" href="#" title="Close popup">x</a>
    <h3>RESTAURANTE</h3>
    <p>Juan Pablo Felipe, nos envuelve en un discurso gastronómico conceptual.</p>
    <p>Es una invitación a participar y dialogar con nosotros, a disfrutar con los cinco sentidos de la experiencia.</p>
</div>
{% endblock %}
