{% extends "base-en.html" %}

{% block head_title %}Rooms{% endblock %}

{% block slideshow %}
<div class="slideshow">
    <img class="slides" src="/static/images/slides/alojamiento/slide1.png" style="width:950; height:671;" />
    <!--<img class="slides" src="/static/images/slides/alojamiento/slide2.png" style="width:950; height:671;" />-->
    <img class="slides" src="/static/images/slides/alojamiento/slide3.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/alojamiento/slide4.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/alojamiento/slide5.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/alojamiento/slide6.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/alojamiento/slide7.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/alojamiento/slide8.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/alojamiento/slide9.png" style="width:950; height:671;" />
    <!--<img class="slides" src="/static/images/slides/alojamiento/slide10.png" style="width:950; height:671;" />-->
    <!--<img class="slides" src="/static/images/slides/alojamiento/slide11.png" style="width:950; height:671;" />-->
    <img class="slides" src="/static/images/slides/alojamiento/slide12.png" style="width:950; height:671;" />
    <!--<img class="slides" src="/static/images/slides/alojamiento/slide13.png" style="width:950; height:671;"
    <img class="slides" src="/static/images/slides/alojamiento/slide14.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/alojamiento/slide15.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/alojamiento/slide16.png" style="width:950; height:671;" />-->
    <img class="slides" src="/static/images/slides/alojamiento/slide17.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/alojamiento/slide18.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/alojamiento/slide19.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/alojamiento/slide20.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/alojamiento/slide21.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/alojamiento/slide22.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/alojamiento/slide23.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/alojamiento/slide24.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/alojamiento/slide25.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/alojamiento/slide26.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/alojamiento/slide27.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/alojamiento/slide28.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/alojamiento/slide29.png" style="width:950; height:671;" />
</div><!-- .slideshow -->
{% endblock %}

{% block inpop %}
<div class="inpop">
    <a id="cerrar" href="#" title="Close popup">x</a>
    <h3>ROOMS</h3>
    We have:
    <ul style="font-weight:800;"><li>36 Double Rooms</li>
    <li>6 Superior Double Rooms</li>
    <li>3 Single Rooms</li>
    <li>2 Magnum Rooms</li></ul>
    There are 3 rooms that are connected and can be converted into Suites or Family rooms.
</div>
{% endblock %}
