{% extends "base.html" %}

{% block head_title %}Servicios{% endblock %}

{% block slideshow %}
<div class="slideshow">
    <img class="slides" src="/static/images/slides/servicios/slide1.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/servicios/slide2.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/servicios/slide3.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/servicios/slide4.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/servicios/slide5.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/servicios/slide6.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/servicios/slide7.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/servicios/slide8.png" style="width:950; height:671;" />
</div><!-- .slideshow -->
{% endblock %}

{% block inpop %}
<div class="inpop">
    <a id="cerrar" href="#" title="Close popup">x</a>
    <h3>SERVICIOS</h3>
    Disponemos de:
    <ul style="font-weight:800;"><li>47 habitaciones</li>
    <li>Recepción 24 horas</li>
    <li>Parking</li>
    <li>Wifi en todo el establecimiento</li>
    <li>Cocktail-Bar y Lounge</li>
    <li>Terraza Ático</li>
    <li>Terraza Jardín</li></ul>
</div>
{% endblock %}
