{% extends "base-en.html" %}

{% block head_title %}Services{% endblock %}

{% block slideshow %}
<div class="slideshow">
    <img class="slides" src="/static/images/slides/servicios/slide1.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/servicios/slide2.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/servicios/slide3.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/servicios/slide4.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/servicios/slide5.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/servicios/slide6.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/servicios/slide7.png" style="width:950; height:671;" />
    <img class="slides" src="/static/images/slides/servicios/slide8.png" style="width:950; height:671;" />
</div><!-- .slideshow -->
{% endblock %}

{% block inpop %}
<div class="inpop">
    <a id="cerrar" href="#" title="Close popup">x</a>
    <h3>SERVICES</h3>
    We have:
    <ul style="font-weight:800;"><li>47 rooms</li>
    <li>24 hours reception</li>
    <li>Parking</li>
    <li>Wifi in the entire property</li>
    <li>Cocktail-Bar and Lounge</li>
    <li>Attic Terrace</li>
    <li>Garden Terrace</li></ul>
</div>
{% endblock %}
